

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.quizanswer {
	height:50px;
	font-size:1em;
	margin-bottom: 20px;
	
}

/* AUDIO PLAYER STYLES */

.jp-audio {
	width:100%;
}

.jp-audio .jp-controls {
	width:100%;
}

.questionwell, .jp-audio {
	height:100%;
}

#pagecontent{
	margin-top: 20px;
}

#youtube-player-container, #exercise-container {
	display:none;
} 

.btn {
	
	white-space: normal; 
}